# This test case is for stress testing. It will generate a log called stress_test.config_log.txt
# in log folder.

test_case_name = stress_test

# number of failures to tolerate.  number of replicas is 2t+1.
t = 5
# number of clients
num_client = 20
# client timeout, in milliseconds.  if timer expires, resend request 
# to all replicas, as described in section 3.3.
client_timeout = 3000
# timeout, in milliseconds, for head and non-head servers, respectively:
# if timer expires, send reconfiguration request to Olympus, as described 
# in section 3.3.
head_timeout = 3000
nonhead_timeout = 3000

hosts = localhost; 192.168.0.3; 192.168.0.4
# host on which each client runs.  in this example, client 0 runs 
# on host 1, clients 1 and 2 run on host 0.
client_hosts = 1; 0; 0
# host on which each replica runs.  same in all configurations.
replica_hosts = 0; 1; 2

# CLIENT WORKLOAD
workload[0] = pseudorandom(213,200)
workload[1] = put('movie','star');slice('movie','0:4');append('movie',' wars');get('movie')
workload[2] = put('jedi','luke skywalker');slice('jedi','0:4'); get('jedi')
workload[3] = put('put','star');slice('put','0:4');append('get',' wars');get('get')
workload[4] = put('async','scott');slice('async','0:4'); get('async')
workload[5] = put('stress','star_1');slice('god','0:4');append('stress',' wars');get('stress')
workload[6] = put('BOOM','scott');append('BOOM',' 1');append('BOOM',' 2');slice('BOOM','0:2'); get('BOOM')
workload[7] = put('async1','scott');slice('async1','0:4'); get('async1')
workload[8] = put('stress1','star_1');slice('god1','0:4');append('stress1',' wars');get('stress1')
workload[9] = put('BOOM1','scott');append('BOOM1',' 1');append('BOOM1',' 2');slice('BOOM1','0:2'); get('BOOM1')
workload[10] = put('movie_2','star');slice('movie_2','0:4');append('movie_2',' wars');get('movie_2')
workload[11] = put('movie_3','star');slice('movie_3','0:4');append('movie_3',' wars');get('movie_3')
workload[12] = put('jedi_4','luke skywalker');slice('jedi_4','0:4'); get('jedi_4')
workload[13] = put('put_8','star');slice('put_8','0:4');append('get_8',' wars');get('get_8')
workload[14] = put('async_8','scott');slice('async_8','0:4'); get('async_8')
workload[15] = put('stress_8','star_1');slice('god_8','0:4');append('stress_8',' wars');get('stress_8')
workload[16] = put('BOOM_9','scott');append('BOOM_9',' 1');append('BOOM_9',' 2');slice('BOOM_9','0:2'); get('BOOM_9')
workload[17] = put('async1_8','scott');slice('async1_8','0:4'); get('async1_8')
workload[18] = put('stress1_8','star_1');slice('god1_8','0:4');append('stress1_8',' wars');get('stress1_8')
workload[19] = put('BOOM1_*','scott');append('BOOM1_*',' 1');append('BOOM1_*',' 2');slice('BOOM1_*','0:2'); get('BOOM1_*')